In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import json
from datetime import datetime, timedelta
np.random.seed(1)

In [2]:
from bs4 import BeautifulSoup
import requests
import time
import random
from selenium import webdriver
from selenium.webdriver import Chrome
from selenium.webdriver import ChromeOptions
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [ ]:
#2018년 데이터 나머지(오류) 크롤링

In [ ]:
# content 데이터셋 불러오기

In [5]:
concat_content_2018 = pd.read_csv('ks_content_crawled_2018.csv')

In [6]:
concat_content_2018.head()

,index,content,risk_challenge
0,0,"['Firstly, thank you for viewing my project.',...",
1,1,"[""This book is a commemoration of 10 years of ...",The biggest challenge is that this project wil...
2,2,"['Who are we?', ""Melbourne City Ballet Theatre...",Starting a new ballet company presents many ch...
3,3,"[""Hello! My name is J. E. Kestner, and it's a ...",The books listed as rewards are all completely...
4,4,"[""Hey guys and gals, don't forget to view the ...",Hey guys it's Stephan.\r\n\r\nThis is my first...

In [7]:
concat_content_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27398 entries, 0 to 27397
Data columns (total 3 columns):
index             27398 non-null int64
content           27397 non-null object
risk_challenge    27330 non-null object
dtypes: int64(1), object(2)
memory usage: 642.3+ KB

In [ ]:
# ks_2018 데이터셋 개수 : 27398
# 크롤링 된 2018 데이터셋 개수 : 27398
# 개수는 동일

In [9]:
print(concat_content_2018.shape)
concat_content_2018.isna().sum()

(27398, 3)

index              0
content            1
risk_challenge    68
dtype: int64

In [11]:
concat_content_2018.sort_values(by=['index'], inplace=True)

In [12]:
concat_content_2018

,index,content,risk_challenge
0,0,"['Firstly, thank you for viewing my project.',...",
1,1,"[""This book is a commemoration of 10 years of ...",The biggest challenge is that this project wil...
2,2,"['Who are we?', ""Melbourne City Ballet Theatre...",Starting a new ballet company presents many ch...
3,3,"[""Hello! My name is J. E. Kestner, and it's a ...",The books listed as rewards are all completely...
4,4,"[""Hey guys and gals, don't forget to view the ...",Hey guys it's Stephan.\r\n\r\nThis is my first...
...,...,...,...
27393,27393,['Hello all! \xa0It is Meredith from TheBasicG...,There are a chance production of the pins can ...
27394,27394,"['Hello from Dunedin New Zealand \\m/', 'Demon...",The only challenge we have is the stress in th...
27395,27395,"[""We're a not-for-profit, zero-waste store, ai...","As with any new business, there's always some ..."
27396,27396,['The funding is being used for the self-publi...,"As the book is nearly complete, there is littl..."
27397,27397,"[""Hoerner Bro's Hot Sauce Co. starts with us t...",While there are always risks and challenges th...

In [7]:
# just in case:
concat_content_2019 = pd.concat([first_content_2019, second_content_2019], ignore_index=True) #수직으로 합치기(concat)
concat_content_2019.sort_values(by=['index'], inplace=True) #df.sort_values(by='col1', ascending=False, na_position='first')

In [ ]:
# error 데이터셋 불러오기

In [19]:
ks_middle_errors_2018 = pd.read_csv('ks_middle_errors_2018.csv')
print(ks_middle_errors_2018.shape)
ks_middle_errors_2018.head()

(51, 2)

   index                                          error_url
0    151  https://www.kickstarter.com/projects/162985738...
1    377  https://www.kickstarter.com/projects/143291728...
2    824  https://www.kickstarter.com/projects/177335557...
3    935  https://www.kickstarter.com/projects/113048302...
4   1266  https://www.kickstarter.com/projects/111660649...

In [20]:
ks_middle_errors_2018.info() #index도 int로 맞게 되어있고

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
index        51 non-null int64
error_url    51 non-null object
dtypes: int64(1), object(1)
memory usage: 944.0+ bytes

In [ ]:
# just in case:
ks_middle_errors_2019['index'].astype(int) #'index'에 문자형인 'index'값들이 들어가 있어 int로 변경이 안 됨

In [25]:
errors_index_set = ks_middle_errors_2018.set_index('index')
errors_index_set

                                               error_url
index
151    https://www.kickstarter.com/projects/162985738...
377    https://www.kickstarter.com/projects/143291728...
824    https://www.kickstarter.com/projects/177335557...
935    https://www.kickstarter.com/projects/113048302...
1266   https://www.kickstarter.com/projects/111660649...
1331   https://www.kickstarter.com/projects/kittynaut...
1794   https://www.kickstarter.com/projects/297090558...
1985   https://www.kickstarter.com/projects/810974932...
2093   https://www.kickstarter.com/projects/linzy/a-l...
2413   https://www.kickstarter.com/projects/421570632...
2523   https://www.kickstarter.com/projects/196057510...
2631   https://www.kickstarter.com/projects/patrickhe...
2739   https://www.kickstarter.com/projects/189678655...
3059   https://www.kickstarter.com/projects/116589164...
3615   https://www.kickstarter.com/projects/118636798...
3943   https://www.kickstarter.com/projects/223013583...
4050   https://www.kickstarter.com/projects/idlehands...
4727   https://www.kickstarter.com/projects/popericha...
4937   https://www.kickstarter.com/projects/950796189...
5050   https://www.kickstarter.com/projects/theankhli...
5283   https://www.kickstarter.com/projects/91903271/...
5393   https://www.kickstarter.com/projects/9207618/h...
5501   https://www.kickstarter.com/projects/61713640/...
5608   https://www.kickstarter.com/projects/211652069...
5717   https://www.kickstarter.com/projects/530169337...
6132   https://www.kickstarter.com/projects/206827054...
6235   https://www.kickstarter.com/projects/188825563...
6460   https://www.kickstarter.com/projects/166117412...
6682   https://www.kickstarter.com/projects/243535299...
6788   https://www.kickstarter.com/projects/echolyle/...
6894   https://www.kickstarter.com/projects/kawaiistu...
7003   https://www.kickstarter.com/projects/181423341...
7106   https://www.kickstarter.com/projects/718218802...
8137   https://www.kickstarter.com/projects/sgnrobb/t...
8243   https://www.kickstarter.com/projects/207980354...
8570   https://www.kickstarter.com/projects/199408660...
8670   https://www.kickstarter.com/projects/786746880...
9124   https://www.kickstarter.com/projects/188130891...
9229   https://www.kickstarter.com/projects/137218600...
9323   https://www.kickstarter.com/projects/4010357/c...
9668   https://www.kickstarter.com/projects/commune/c...
10227  https://www.kickstarter.com/projects/507736258...
10330  https://www.kickstarter.com/projects/patrickma...
10558  https://www.kickstarter.com/projects/196302429...
11001  https://www.kickstarter.com/projects/103691273...
11207  https://www.kickstarter.com/projects/islandspo...
11310  https://www.kickstarter.com/projects/8898540/p...
11879  https://www.kickstarter.com/projects/algoflame...
14197  https://www.kickstarter.com/projects/kittynaut...
14872  https://www.kickstarter.com/projects/118197605...
16750  https://www.kickstarter.com/projects/sweetfuck...

In [26]:
errors_index_set.index

Int64Index([  151,   377,   824,   935,  1266,  1331,  1794,  1985,  2093,
             2413,  2523,  2631,  2739,  3059,  3615,  3943,  4050,  4727,
             4937,  5050,  5283,  5393,  5501,  5608,  5717,  6132,  6235,
             6460,  6682,  6788,  6894,  7003,  7106,  8137,  8243,  8570,
             8670,  9124,  9229,  9323,  9668, 10227, 10330, 10558, 11001,
            11207, 11310, 11879, 14197, 14872, 16750],
           dtype='int64', name='index')

In [29]:
content_2018_removed_errors = concat_content_2018.drop(errors_index_set.index, axis=0) #오류였던 행들 제거
content_2018_removed_errors

,index,content,risk_challenge
0,0,"['Firstly, thank you for viewing my project.',...",
1,1,"[""This book is a commemoration of 10 years of ...",The biggest challenge is that this project wil...
2,2,"['Who are we?', ""Melbourne City Ballet Theatre...",Starting a new ballet company presents many ch...
3,3,"[""Hello! My name is J. E. Kestner, and it's a ...",The books listed as rewards are all completely...
4,4,"[""Hey guys and gals, don't forget to view the ...",Hey guys it's Stephan.\r\n\r\nThis is my first...
...,...,...,...
27393,27393,['Hello all! \xa0It is Meredith from TheBasicG...,There are a chance production of the pins can ...
27394,27394,"['Hello from Dunedin New Zealand \\m/', 'Demon...",The only challenge we have is the stress in th...
27395,27395,"[""We're a not-for-profit, zero-waste store, ai...","As with any new business, there's always some ..."
27396,27396,['The funding is being used for the self-publi...,"As the book is nearly complete, there is littl..."
27397,27397,"[""Hoerner Bro's Hot Sauce Co. starts with us t...",While there are always risks and challenges th...

In [38]:
27398-51

27347

In [30]:
content_2018_removed_errors.to_csv('edited_content_2018.csv', index=False, encoding='utf-8')

In [ ]:
#error index들 다 제거한 crawled content csv파일을 새로 생성했으며, error였던 url들 다시 크롤링 할 때 이 csv에다가 append 할 것이다

In [37]:
ks_middle_errors_2018.head()

   index                                          error_url
0    151  https://www.kickstarter.com/projects/162985738...
1    377  https://www.kickstarter.com/projects/143291728...
2    824  https://www.kickstarter.com/projects/177335557...
3    935  https://www.kickstarter.com/projects/113048302...
4   1266  https://www.kickstarter.com/projects/111660649...

In [35]:
ks_middle_errors_2018['index'][0]

151

In [33]:
len(ks_middle_errors_2018['error_url'])

51

In [40]:
options = ChromeOptions()
options.add_argument('headless')
options.add_argument("--user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.117 Safari/537.36")
#path = '/Users/DaeyoungKim/Python/Final_Project/Kickstarter_2019-12-12/chromedriver' #chromedriver 위치
#driver = Chrome(executable_path=path, options=options) #컴퓨터에 Path 환경변수 설정 안 했을 때엔 여기서 이렇게 해줄 수 있음
driver = Chrome(options=options)

filename_contents = 'edited_content_2018.csv'
filename_errors = 'new_errors_2018.csv'
content_list = []

for row, url in enumerate(ks_middle_errors_2018['error_url'][6:], start=6):
    idx = ks_middle_errors_2018['index'][row]
    
    driver.get(url)
    time.sleep(random.uniform(8,20))
    req = driver.page_source
    soup = BeautifulSoup(req, 'lxml')
    try:
        content_tag = soup.select_one('div.rte__content')
        contents = content_tag.select('p')
        contents_collected = []
        for c in contents:
            content = c.get_text().strip()
            contents_collected.append(content)
        
        try:
            risk_challenge_tag = soup.select_one('div#risksAndChallenges')
            risk_challenge_list = risk_challenge_tag.select('p.js-risks-text.text-preline')
            for rc in risk_challenge_list:
                risk_challenge = rc.get_text().strip()
        except:
            risk_challenge=" " #또는 np.nan
        
        #오류 나기 전까지 저장되어 있는 content_list에는 이어서 append하고; 그래서 content_list에 모으는 것도 유지할 수 있도록
        content_list.append([idx, contents_collected, risk_challenge])
        
        #오류 난 후부턴 다시 크롤링 할 때, 매 페이지 긁어온 것마다 바로바로 csv파일에 한줄씩 append 할 것이다
        content_list_since_error = []
        content_list_since_error.append([idx, contents_collected, risk_challenge])
        pd.DataFrame(content_list_since_error, columns=['index','content','risk_challenge']).to_csv(filename_contents, index=False, header=False, mode='a', encoding='UTF-8')
        print("row:{}".format(row), "index:{}".format(idx))
        
    except Exception as ex:
        print("Unexpected error at {}".format(idx), ex)
        error_url = url
        count = 0
        while count < 4: #11에서 4로 변경
            print("Retrying:", count)
            driver.get(error_url)
            time.sleep(random.uniform(8,20))
            req = driver.page_source
            soup = BeautifulSoup(req, 'lxml')
            try:
                content_tag = soup.select_one('div.rte__content')
                contents = content_tag.select('p')
                contents_collected = []
                for c in contents:
                    content = c.get_text().strip()
                    contents_collected.append(content)
                
                try:
                    risk_challenge_tag = soup.select_one('div#risksAndChallenges')
                    risk_challenge_list = risk_challenge_tag.select('p.js-risks-text.text-preline')
                    for rc in risk_challenge_list:
                        risk_challenge = rc.get_text().strip()
                except:
                    risk_challenge=" " #또는 np.nan
                
                content_list.append([idx, contents_collected, risk_challenge])

                content_list_since_error = []
                content_list_since_error.append([idx, contents_collected, risk_challenge])
                pd.DataFrame(content_list_since_error, columns=['index','content','risk_challenge']).to_csv(filename_contents, index=False, header=False, mode='a', encoding='UTF-8')
                print("row:{}".format(row), "index:{}".format(idx))
                break
                
            except Exception as et:
                print("Error while retrying:", et)
                time.sleep(random.uniform(100,130))
                count += 1
                continue
        
        #만약 재시도를 10번 했는데도 크롤링에 실패한다면, 원래 했던대로 오류 index, url, nan값을 csv파일들에 저장
        if count == 4:
            content_list.append([idx, error_url, np.nan])
        
            error_into_saved_csv = []
            error_into_saved_csv.append([idx, error_url, np.nan])
            pd.DataFrame(error_into_saved_csv, columns=['index','content','risk_challenge']).to_csv(filename_contents, index=False, header=False, mode='a', encoding='UTF-8')
            
            error_list = []
            error_list.append([idx, error_url])
            pd.DataFrame(error_list, columns=['index','error_url']).to_csv(filename_errors, index=False, header=False, mode='a', encoding='UTF-8')
            
        continue
    
driver.close()

row:6 index:1794
Unexpected error at 1985 'NoneType' object has no attribute 'select'
Retrying: 0
Error while retrying: 'NoneType' object has no attribute 'select'
Retrying: 1
Error while retrying: 'NoneType' object has no attribute 'select'
Retrying: 2
Error while retrying: 'NoneType' object has no attribute 'select'
Retrying: 3
Error while retrying: 'NoneType' object has no attribute 'select'
row:8 index:2093
row:9 index:2413
row:10 index:2523
row:11 index:2631
row:12 index:2739
row:13 index:3059
row:14 index:3615
row:15 index:3943
row:16 index:4050
row:17 index:4727
row:18 index:4937
row:19 index:5050
row:20 index:5283
row:21 index:5393
row:22 index:5501
row:23 index:5608
row:24 index:5717
Unexpected error at 6132 'NoneType' object has no attribute 'select'
Retrying: 0
Error while retrying: 'NoneType' object has no attribute 'select'
Retrying: 1
Error while retrying: 'NoneType' object has no attribute 'select'
Retrying: 2
Error while retrying: 'NoneType' object has no attribute 'select'
Retrying: 3
Error while retrying: 'NoneType' object has no attribute 'select'
row:26 index:6235
row:27 index:6460
row:28 index:6682
row:29 index:6788
row:30 index:6894
row:31 index:7003
row:32 index:7106
row:33 index:8137
row:34 index:8243
row:35 index:8570
row:36 index:8670
row:37 index:9124
row:38 index:9229
row:39 index:9323
row:40 index:9668
row:41 index:10227
row:42 index:10330
row:43 index:10558
row:44 index:11001
row:45 index:11207
row:46 index:11310
row:47 index:11879
Unexpected error at 14197 'NoneType' object has no attribute 'select'
Retrying: 0
Error while retrying: 'NoneType' object has no attribute 'select'
Retrying: 1
Error while retrying: 'NoneType' object has no attribute 'select'
Retrying: 2
Error while retrying: 'NoneType' object has no attribute 'select'
Retrying: 3
Error while retrying: 'NoneType' object has no attribute 'select'
row:49 index:14872
Unexpected error at 16750 'NoneType' object has no attribute 'select'
Retrying: 0
Error while retrying: 'NoneType' object has no attribute 'select'
Retrying: 1
Error while retrying: 'NoneType' object has no attribute 'select'
Retrying: 2
Error while retrying: 'NoneType' object has no attribute 'select'
Retrying: 3
Error while retrying: 'NoneType' object has no attribute 'select'

In [ ]:
# 도달해야 할 row : 51

In [ ]:
index 1985 : hidden
index 6132 : hidden
index 14197 : hidden
index 16750 : hidden

In [ ]:
#content에는 총 6개(전부터 돌렸었던 기존 csv파일에 결측치 1개 만들었던 것, 여기서 다시 크롤링 했을 때 중간에 결측치 1개, 
# 그리고 위에 결측치 4개 --> 그래서 총 6개의 결측치가 있어야 함

In [41]:
edited_content_2018 = pd.read_csv('edited_content_2018.csv')

In [42]:
edited_content_2018.isna().sum()

index              0
content            6
risk_challenge    22
dtype: int64